.App {
  height: 100vh;
}

.App-header {
  height: calc(10vh - 2rem);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 1rem 2rem;
  border-bottom: 1px solid #eee;
}

.models-wrap {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 90vh;
}
.models-list {
  max-width: 200px;
  padding: 2rem;
  overflow-y: scroll;
}

.models-list .modelsCount {
  font-weight: normal;
}

.models-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.models-list li {
  padding: 0.625rem 0;
  border-bottom: 2px solid #eee;
}

.models-list .date {
  font-size: 0.624rem;
  padding: 0.3125rem;
  font-weight: normal;
}

.models-list h3 {
  font-size: 0.8125rem;
  margin: 0;
  color: #aaa;
}

.models-list h4 {
  font-size: 0.8125rem;
  margin: 0;
}

.model-form-wrap {
  padding: 2rem;
  width: calc(100% - 200px);
  overflow-y: scroll;
}

.model-form-wrap .date {
  font-size: 0.8125rem;
  margin: 0;
  color: #aaa;
}

.saveModel {
  float: right;
}

.model-form {
  margin-top: 1rem;
}

.model-form ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.model-form li {
  margin-bottom: 1rem;
}

.model-form label {
  font-weight: bold;
  margin-right: 8px;
  width: 20px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  padding: 10px 0;
}

.model-form input,
.model-form textarea {
  width: calc(100% - 56px);
  padding: 10px;
  border: 1px solid #aaa;
}

.model-form .titleInput {
  border: none;
  font-size: 1.875rem;
  font-weight: bold;
  padding-left: 0;
  padding-right: 0;
}